<mat-toolbar color="primary">
    <span>Servicio de Limpieza</span>
  </mat-toolbar>
  
  <div class="hero-section">
    <h1>Bienvenido a Nuestro Servicio de Limpieza</h1>
    <p>Ofrecemos servicios de limpieza de alta calidad para hogares y oficinas.</p>
    <button mat-raised-button color="accent">Contáctanos</button>
  </div>
  
  <div class="services-section">
    <h2>Nuestros Servicios</h2>
    <mat-grid-list cols="3" rowHeight="200px" gutterSize="20px">
      <mat-grid-tile >
        <mat-card>
          <mat-card-header>
            <mat-card-title></mat-card-title>
          </mat-card-header>
          <img >
          <mat-card-content>
            <p>Limpeza </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  