<mat-sidenav-container class="mat-app-background">

  <mat-sidenav-content>
    <!-- Barra superior -->
    <mat-toolbar color="primary" class="fixed-toolbar">
      <span>Empleados</span>
    </mat-toolbar>

    <!-- Sección de perfil -->
    <div class="profile-section">
      <!-- Contenedor de la imagen de perfil -->
      <div class="profile-image">
        <img src="" alt="">
        <button mat-raised-button>Cambiar imagen</button>
        <div class="organization-name">CLEAN_SQUAD</div>
      </div>

      <!-- Contenedor de los detalles del perfil -->
      <div class="profile-details">
        <div class="placeholder">Nombre</div>
        <div class="placeholder">Apellido</div>
        <div class="placeholder">E-mail</div>
        <div class="placeholder">Dirección</div>
        <div class="placeholder">Teléfono</div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>