h2{
  padding: 10px 16px; 
  color: white;
  margin: 0;
}

/* Contenedor principal */
.mat-app-background {
  height: 100vh;
  background-color: white;
}

/* Barra superior */
.fixed-toolbar {
  background: #78b3ed; 
  color: black;
  position:fixed; 
  width: calc(100%);
  z-index: 2;
  top: 0;
  left: 0; 
}

/* Contenido principal */
mat-sidenav-content {
  margin-left: 50px;
  padding-top: 50px; 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Contenedor de la imagen de perfil */
.profile-image {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; 
  background-color: #eff4f4; 
  border-radius: 10px;
  position: absolute; 
  top: 100px;
  left: 10px; 
  width: 400px;
  height: 450px;
}

/* Imagen de perfil */
.profile-image img {
  width: 300px; 
  height: 300px; 
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 3px solid #0288d1; 
}

/* Nombre de la organización */
.profile-image .organization-name {
  margin-top: 10px;
  font-size: 18px;
  color: #01579b;
}

/* Contenedor de los detalles del perfil */
.profile-details {
  display: flex;
  flex-direction: column;
  background-color: #eff4f4; 
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 118px; 
  left: 380px; 
  height: 410px;
  width: 600px; 
  margin-left: 100px;
}

/* Detalles del perfil (nombre, apellido, etc.) */
.profile-details .placeholder {
  background: #b8b8b8; 
  padding: 15px; 
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px; 
  color: #ffffff;
}

/* Estilo al pasar el cursor sobre los enlaces de la barra lateral */
mat-nav-list a:hover {
  background: #0277bd; 
}

/* Estilo del botón */
button.mat-raised-button {
  background: white;
  color: #0288d1; 
}

/* Estilo al pasar el cursor sobre el botón */
button.mat-raised-button:hover {
  background: #0277bd; 
}
