<div class="container">
    <main class="main-content">
        <div class="header">
            <h2>Empleados</h2>
            <input type="text" placeholder="Buscar..." class="search-bar">
        </div>
        <div class="img">
            <img src="empleado.jpg" alt="Foto del Empleado" class="employee-photo"> 
        
            <p>Nombre de Organización</p>
            <button mat-raised-button>Cambiar Imagen</button>
        </div>
        <div class="employee-profile"> 
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Nombre del Empleado</mat-label>
                  <input matInput placeholder="" value="">
            </mat-form-field>
            </form>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Apellido del Empleado</mat-label>
                  <input matInput placeholder="" value="">
            </mat-form-field>
            </form>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="" value="">
            </mat-form-field>
            </form>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Dirección</mat-label>
                  <input matInput placeholder="" value="">
            </mat-form-field>
            </form>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Teléfono</mat-label>
                  <input matInput placeholder="" value="">
            </mat-form-field>
            </form>
            <button mat-raised-button>Registrar</button>
        </div>
    </main>

