<mat-card class="mat-card">
  <mat-card-title class="mat-card-title">Agregar tarea</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Tipo de tarea</mat-label>
        <mat-select class="mat-select">
          <mat-option value="opcion1">Individual</mat-option>
          <mat-option value="opcion2">Grupal</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Empleados</mat-label>
        <mat-select class="mat-select">
          <mat-option value="opcion1">Individual</mat-option>
          <mat-option value="opcion2">Grupal</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Tarea a realizar</mat-label>
        <mat-select >
          <mat-option value="opcion1">Individual</mat-option>
          <mat-option value="opcion2">Grupal</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Descripción</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" class="mat-raised-button">Crear</button>
    </form>
  </mat-card-content>
</mat-card>